section.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:200px;
}

/* guardar imagenes */
.input-div {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(1, 235, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    animation: flicker 2s linear infinite;
  }
  
  .icon {
    color: rgb(1, 235, 252);
    font-size: 2rem;
    cursor: pointer;
    animation: iconflicker 2s linear infinite;
  }
  
  .input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
  }
  
  @keyframes flicker {
    0% {
      border: 2px solid rgb(1, 235, 252);
      box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    }
  
    5% {
      border: none;
      box-shadow: none;
    }
  
    10% {
      border: 2px solid rgb(1, 235, 252);
      box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    }
  
    25% {
      border: none;
      box-shadow: none;
    }
  
    30% {
      border: 2px solid rgb(1, 235, 252);
      box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    }
  
    100% {
      border: 2px solid rgb(1, 235, 252);
      box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    }
  }
  
  @keyframes iconflicker {
    0% {
      opacity: 1;
    }
  
    5% {
      opacity: 0.2;
    }
  
    10% {
      opacity: 1;
    }
  
    25% {
      opacity: 0.2;
    }
  
    30% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }



  /* boton */
  .signupBtn {
    margin-top: 20px;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 9px;
    color: white;
    background: linear-gradient(to right,rgb(128, 128, 255),rgb(183, 128, 255));
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);
  }
  
  .arrow {
    position: absolute;
    right: 7.5px;
    background-color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .signupBtn:hover .arrow {
    animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

 /*  formulario */
 .form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  justify-content: center;
  display: flex;
  align-items: center;

}
h2{
  text-align: center;
}
p{
  margin-top: 20px;
  margin-bottom: 20px;
}

form{
  display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}


section.formulario{
  margin-top: 50px;
  width: 100%;
}

.form {
  margin-top: 1.5rem;
}



 label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

input, .forminput {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  background-color: rgba(17, 24, 39, 1);
 height: 50px;
  color: rgba(243, 244, 246, 1);
}

input, .forminput:focus {
  border-color: rgba(167, 139, 250);
}



/*  lista de paises */

section.container.paises{
  width: 100%;
  height: auto;
  margin-top: 100px;

}

.col.paises{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 200px;
  border: 1px solid #696965;
}

section.edicion-pais{
  width: 100%;
}

.eliminar{
  display: flex;
    justify-content: flex-end;
    align-items: center;
}
.editar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.row.imagenes{
  display: flex;
  flex-direction: column;
}

/* select resolucion */
select.select-resolucion{
  width: 100%;
  height: 50px;
  border: 1px solid rgb(114, 113, 115);
  font-weight: 600;
}

div.resolution-select{
  width: 300px;
  margin-bottom: 20px;
  margin-top: 20px;

}

div.info-imagenes{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

h3.info-pais{
  width: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/* boton eliminar y editar */
svg.editar-pencil{
  font-size: 30px;
  color: green;
  margin: 10px;
}

.buton-editar{
  border: 0px;
  border: 1px solid green;
  border-radius: 70px;
  background: transparent;
}
.buton-editar:hover{
  border: 2px solid greenyellow;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 70px;
  background: rgba(120, 215, 120, 0.366);
}

svg.borrar{
  font-size: 30px;
  color: rgb(190, 110, 30);
  margin: 10px;
}


.buton-eliminar{
  border: 0px;
  border: 1px solid  rgb(190, 110, 30);
  border-radius: 70px;
  background: transparent;
}
.buton-eliminar:hover{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 70px;
  background:  rgba(228, 163, 98, 0.38);
}



/* editar */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.759);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: white;
  border: 1px solid gray;
  padding: 20px;
  width: 1200px;
  height: auto;
  margin-left: 90px;
  margin-top: 50px;
}

.close-button {
  position: absolute;
  margin: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: #696965;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

div.edit{
  margin-top: 50px;
}

input.pais{
  width: 100%;
  background-color: rgb(50, 48, 48);
  font-weight: 400;
}

div.pais{
  width: 100%;
}
div.imagen-pais{
  display: flex;
  align-items: center;
  justify-content: center;
}